.search{
    float: right;
}
.menu{
    float: left;
}
.container{
    width: 100%;
}
Img{
    width: 100%;
    height: 50%;
}
.Card{
    margin-top: 20px;
}
.border{
    border-radius: 10px !important;
}